<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DapperSampleConnection" connectionString="Server=TUANCAO-PC\MSSQLSERVER2;Database=DapperDemo;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>